img.profile_picture {
    width: 250px;
    display: block;
    margin: 0 auto;
}

/* .logos {
    padding: 0px;
    margin-right: 5px;
}

.logos img {
    width: 97px;
}

.logos.cv img {
    width: 80px;
    height: 100px;
} */

.content {
    padding-top: 25px;
}

.txtAsk {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    border: 1px solid #007cb8;
    border-radius: 15px;
    height: 40px;
    padding: 10px;
}